<nav class="bg-white border-b border-zinc-300 w-full z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag "isologo.png", class: "h-7" %>
        <% end %>
      </div>

      <div class="hidden sm:flex sm:items-center sm:space-x-3">
        <% if user_signed_in? %>
          <%= link_to "Admin panel", avo_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 text-sm font-medium" %>
          <%= button_to "Sign out", 
              destroy_user_session_path, 
              method: :delete, 
              class: "text-gray-700 hover:text-gray-900 px-3 py-2 text-sm font-medium" 
          %>
        <% else %>
          <%= link_to "Home", home_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 text-sm font-medium" %>
          <%= link_to "Admin panel", avo_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 text-sm font-medium" %>
        <% end %>
      </div>
      <div class="flex items-center sm:hidden">
        <button type="button" class="mobile-menu-button inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-gray-900 hover:bg-gray-100">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>