<section class="w-full mt-10 mb-20">
  <div class="max-w-screen-xl mx-auto rounded-xl py-12 px-10 bg-gradient-to-b from-azure-400 to-azure-600 relative overflow-hidden">
    <div>
      <%= image_tag "avo-logo.png", class: "w-12 mb-3" %>
      <h2 class="text-xl lg:text-2xl font-bold text-white mb-1.5">Want to build a booking app just like this?</h2>
      <p class="text-azure-50 text-base font-regular w-[40%]">Build apps like this up to 10 times faster by using Avo: a Rails admin framework that lets you focus on building your product and creating value for your customers.</span></p>

      <div class="flex items-center mt-4">
        <%= link_to "https://avohq.io", class: "flex items-center space-x-1.5 text-pastel-green-950 font-bold bg-pastel-green-400 text-sm px-4 py-1.5 rounded-full" do %>
          <span>Learn more</span>
            <svg class="size-4 text-pastel-green-950" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.3153 16.6681C15.9247 17.0587 15.9247 17.6918 16.3153 18.0824C16.7058 18.4729 17.339 18.4729 17.7295 18.0824L22.3951 13.4168C23.1761 12.6357 23.1761 11.3694 22.3951 10.5883L17.7266 5.9199C17.3361 5.52938 16.703 5.52938 16.3124 5.91991C15.9219 6.31043 15.9219 6.9436 16.3124 7.33412L19.9785 11.0002L2 11.0002C1.44772 11.0002 1 11.4479 1 12.0002C1 12.5524 1.44772 13.0002 2 13.0002L19.9832 13.0002L16.3153 16.6681Z" fill="#0F0F0F"/>
            </svg>
        <% end %>
        <%= link_to "Read our docs", "https://docs.avohq.io", class: "text-white font-medium underline text-sm px-4 py-2 rounded-full" %>
      </div>
    </div>

    <div class="w-[40%] absolute right-12 -bottom-8 rounded-xl overflow-hidden z-50
                shadow-[0_0_0_3px_rgba(59,130,246,0.15),0_10px_15px_3px_rgba(59,130,246,0.95),0_4px_6px_-2px_rgba(59,130,246,0.1),0_30px_40px_-7px_rgba(59,130,246,0.4),0_-2px_30px_-5px_rgba(255,255,255,0.6)]">
      <%= image_tag "avowork-screenshot.webp", class: "w-full h-auto relative z-10" %>
    </div>

    <%= image_tag "grid_lines_bg.svg", class: "absolute right-0 mix-blend-soft-light inset-0 w-full h-full z-10" %>
  </div>
</section>